.navegation-bar > nav{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 10;
    opacity: 0;
    animation: aparecer 0.5s ease forwards ;
    animation-delay: 150ms;
}

 nav {
    background: transparent;
    width: 100%;
    height: 60px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
    color: white;
    mix-blend-mode: difference;
}

.navegation-ul{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navegation-ul li a {
    font-family:'PP Neue Montreal Normal' ;
    font-size: 18px;
    cursor: pointer;
}

.logo-primary{
font-family: 'PP Neue Montreal Book';
font-size: 20px;

   transition-duration: .15s;
    transition-duration: .75s;
    transition-property: transform ;
    transition-timing-function: cubic-bezier(.23,1,.32,1);
    will-change: transform ;
}

.logo-secondary{
font-family: 'PP Neue Montreal Book';
font-size: 20px;
transition-duration: .15s;
transition-duration: .75s;
transition-property: transform ;
transition-timing-function: cubic-bezier(.23,1,.32,1);
will-change: transform;
transform: translateY(25px); 
}

.logo-primary.scrolled{
transform: translateY(-25px);

}

.logo-secondary.scrolled {
transform: translateY(0px);
}



.border-opacity-10{

 border-top:2px solid rgba(255, 255, 255, 0.096);

}

.border-bottom-opacity-10 {
border-bottom:2px solid rgba(255, 255, 255, 0.096);  
}

.modal-container {
position: fixed;
top: 0px;
width: 0;
height: 0;
z-index: 8;
opacity: 0;
background: #1b1b1c;
display: flex;
justify-content: center;
align-items: center;
animation-duration: 1s;
}

.modal-container.active {
    width: 100%;
    height: 100vh;
    opacity: 1;
   clip-path: inset(0 0 0 0);
}


@keyframes aparecer{
    0% {
        opacity: 0;
      
    }
    100% {
        opacity: 1;
      
    }
}


@keyframes fadein {
        0% {
        clip-path: inset(0 0 100% 0);
      
    }
    100% {
        width: 100%;
        height: 100vh;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeout {
       0% {
        opacity: 1;
        width: 100%;
        height: 100vh;
        clip-path: inset(0 0 0  0);
      
    }
    100% {
        clip-path: inset(0 0 100% 0);
        width: 100%;
        height: 100vh;
        opacity: 1;
    }
}
